<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Device Dashboard</h1>
    <ul>
        {% for device in devices %}
        <li>
            <a href="{{ url_for('device_page', device_id=device['DeviceID']) }}">
                {{ device['DeviceName'] }} - {{ device['ModelName'] }} ({{ device['DeviceID'] }})
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
